.btn{
    &-red{
        display: block;
        width: max-content;
        background-color: #D32F2F;
        color: #fff;
        max-height: 72px;
        border-radius: 3px;
        padding: 7px 18px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        // line-height: 20px;
        box-sizing: border-box;
        text-align: center;
        transition: .5s;
        cursor: pointer;
        &:hover{
            opacity: .9;
        }
    }
    &-transparent{
        display: block;
        width: max-content;
        color: #707070;
        border: 1px solid #707070;
        max-height: 72px;
        border-radius: 3px;
        padding: 7px 18px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        text-align: center;
        transition: .5s;
        cursor: pointer;
        &:hover{
            opacity: .9;
        }
    }
    &-gray{
        color: #8D8D8D;
        cursor: pointer;
        &:hover{
            opacity: .9;

        }
    }
}