@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-ExtraBold.woff2") format("woff2"), url("../fonts/VelaSans-ExtraBold);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-ExtraLight.woff2") format("woff2"), url("../fonts/VelaSans-ExtraLight);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Light.woff2") format("woff2"), url("../fonts/VelaSans-Light);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Medium.woff2") format("woff2"), url("../fonts/VelaSans-Medium);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Bold.woff2") format("woff2"), url("../fonts/VelaSans-Bold);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Regular.woff2") format("woff2"), url("../fonts/VelaSans-Regular);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-SemiBold.woff2") format("woff2"), url("../fonts/VelaSans-SemiBold);
	font-weight: 600;
	font-style: normal;
}
